body {
    font-family: arial, sans-serif;
    line-height: 1.44;
    font-size: 12pt;
    margin: 0;
    overflow: visible;
    overflow-x: hidden;
  }
  h2 {
      font-size: 26pt;
  }
  p {
    color: black;
    text-indent: 50px;
  }
  .header {
    background-color: #333;
    color: white;
    text-align: center;
    margin: 0;
    padding: 16px;
    color: white;
  }
  html {
    scroll-behavior: smooth;
  }
  
  .country-inf{
    margin-top: 50px;
    margin-bottom: 0px;
  }
  
  .world-imperialism-map-parallax {
    /* The image used */
    background-image: url("https://ace9e421-a-9516f2f5-s-sites.googlegroups.com/a/syd.catholic.edu.au/boudica/year-11-modern-history/core-study/reasons-for-the-growth-of-imperialism/World%20Imperialism%20Map.png?attachauth=ANoY7crfI7M9mDsa7yCsBkx7xz1tzPSKvJwk6zAcZ2_qiba7HdR9XE5eVtvNqrRFLwPwkH-O5dI2HyJ6fE456lAWp9QlTdcrfUmJJ48hC0JP6VTCmIxLfvkPyCcLtuLelAoYtIp7Flsd3tb1hI-yZjXuU8Lfmle9dN5zA3V5Dig9HlAgdPoOLsk_-dSFCAIEgHdoAVbEaHOYCgCGw5TP8z1qzKDfKhA-mKYYych-T0y3Aef2aoJuW5_hueh_X2MMJ-rHJNGCNmGgXJ6GTqtGxC7yBfSAKQAxyoS8o8y_xxVt6Sn4JoU__ryI3NW8WAOD7W6cjIM1hvMMg4CrA9svZP9P32PVzvjnuA%3D%3D&attredirects=1");
  
    background-size: 10px;
    /* Set a specific height */
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .nav-ul{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  .side-ul {
    float: left;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100vh;
    overflow: auto;
  }
  .side-ul li a {
    display: block;
    color: #000;
    padding: 8px 64px;
    text-decoration: none;
  }
  
  .side-ul li a:hover {
    background-color: #555;
    color: white;
  }
  
  .information{
    margin-left:25%;
    padding:1px 16px; 
  }
  
  .scroll-up-button {
    display: inline-block;
    padding: 8px 8px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: indigo;
    background-color: #ccc;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #888;
  }
  
  .scroll-up-button:hover {background-color: #aaa}
  
  .scroll-up-button:active {
    background-color: #999;
    box-shadow: 0 5px #555;
    transform: translateY(4px);
  }
