body {
  background-color:  white;
}
h1 {
  color: black;
}
p {
  color: black;
}
.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
.navigation-ul li{
  list-style-type: none;
}
.navigation-ul li a{
  text-decoration: none;
}
.top-ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
}

.top-ul li{
  float: left;
}

.top-ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */
.top-ul a:hover, .top-ul a:active, .top-ul .active {
  background-color: #111;
}

.side-ul {
  float:left;
  position: sticky;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100vh;
  background-color: #f1f1f1;
}
.side-ul li {
  display: block;
  color: #000;
}

.side-ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
}

/* Change the link color on hover */
.side-ul li a:hover {
  background-color: #555;
  color: white;
}
.information{
  float: left;
  margin: 20px;
}

#creator-names {
  margin: 10px 10px;
  list-style-type: none;
  background-color: white;
  line-height: 40px;
  display:block;
}







.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}
.scroll-up-button{
  background-color: #555555;
  border: none;
  color: white;
  padding: 16px;;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: fantasy;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 0.4s;
  position: fixed;
  bottom: -4px;
  right: 10px;
}
.scroll-up-button:hover{
  background-color: #AAAAAA; /* Green */
  color: black;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}
