<footer>

    <nav class="navbar">
        <a href="https://github.com/Mochatitan" target="_blank">GITHUB</a>
        <a href="https://www.codecademy.com/profiles/Mochatitan" target="_blank">CODECADEMY</a>
        <a href="https://www.freecodecamp.org/Mochatitan" target="_blank">FREECODECAMP</a>
        <a href="https://github.com/Mochatitan/mochatitan.github.io" target="_blank">REPOSITORY LINK</a>
    </nav>

    <div id="credits">
        <p>Website by Luke Rossi ----- rossilt@student.lncharter.org</p>
    </div>
</footer>