<nav class="nav-ul">

    <ul class="top-ul">
        <li><a class="active" href="index.html">Home</a></li>
        <li><a href="introduction.html">Introduction</a></li>
        <li><a href="contract.html">Contract</a></li>
        <li><a href="brand.html">Brand</a></li>
        <li><a href="introductionform.html">Introduction form</a></li>
        <li><a href="about.html">about us</a></li>
        <li><a href="fizzbuzz0.html">Fizzbuzz0</a></li>
        <li><a href="fizzbuzz1.html">Fizzbuzz1</a></li>
        <li><a href="fizzbuzz2.html">Fizzbuzz2</a></li>
        <li><a href="fizzbuzz3.html">Fizzbuzz3</a></li>
        <li><a href="fizzbuzz4.html">Fizzbuzz4</a></li>

    </ul>
</nav>