/* .header {
    background-color: #333;
    color: white;
    text-align: center;
    margin: 0;
    padding: 16px;
    color: white;

} */

.header {
    background-color: #148d47;
    color: white;
    text-align: center;
    font-family: Verdana;
    padding: 40px;
    margin: 0px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

body {
    background-color: lightgray;
    margin: 0px;
    padding: 0px;
}

main {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

input {
    field-sizing: content;
    min-width: 50px;
}


.goodimages {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    padding: 15px 20px;
}

.nav-ul {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

.top-ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    gap: 0px;
    font-family: Georgia;
}

.top-ul li {
    float: left;
}

.top-ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-ul li a:hover {
    background-color: #111;
}

#credits {
    text-align: center;
    font-style: italic;
}

#divisible-status {
    color: red;
}


footer {}

#briefintro {}

.courseAdded {
    padding: 10px;

    background-color: rgb(220, 220, 220);
    margin-top: 10px;

}

.remove-course {
    align-self: right;

}